.heading {
  margin-bottom: 0.83em;
  text-transform: uppercase;
  font-weight: 600;
    &--level-2 {
        font-size: 30px;
    }
  &--logo {

      margin: 0;
      font-size: .9rem;

    @media  (min-width: 576px) {
      font-size: 18px;
      line-height: 22px;
    }



  }

}