.logo {
    @include small-screen {
        display: none;
    }
    &__figure {
      padding-right: 10px;
    }
    &__link {
        display: flex;
        align-items: center;
    }

    &__span {
        font-size: 14px;
        line-height: 18px;
    }

}

