.logo {
    margin-right: auto;
    &__figure {
      padding-right: 10px;
    }
    &__link {
        display: flex;
        align-items: center;
    }
    &__heading{
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
    &__span {
        font-size: 14px;
        line-height: 18px;
    }

}

