.logo {
    margin-right: auto;
    &__link {
        display: flex;
    }
    &__text{
        margin: 0;
        font-family: $baseFont;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
    }
}

