/* [ extend of normalize ] */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    margin:0;
    background: #f9f8fb;
    overflow-x: hidden;
    font-size: 12px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

hr,
button {
    border: none;
}
figure {margin: 0; text-align: center;}
/* [ common classes ] */
.relative {
    position: relative;
}

.right {
    float: right;
}

.left {
    float: left;
}

.text {
    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }
}

.inline {
    display: inline-block;
}

.clear {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }
    &::after {
        clear: both;
    }
}
.container {margin: 0 auto;}
main {
  & > section {
    padding: 40px 0;
  }
  & > section:nth-child(2n) {

    background: #585858;
    color: #ffffff;
  }
}


