.about-me {
  padding: 80px 0;
  background-color: #F9F9F9;
  &__text {
    text-align: justify;
  }
  &__btn {padding: 0;
      display: block;
      margin: 20px auto;

  }
  &__button {
    display: block;
    padding: 15px 30px;
    background-color: #303030;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    transition: opacity 500ms ease-in;
  }
  &__button:hover {
    color:#ffffff;
    opacity: .5;
  }

  &__figure {
    text-align: center;
  }
  &__figure--social {
    height:64px;
    margin-right: 15px;
    margin-bottom: 20px;
  }
}